/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}
